/* NAVBAR STYLES */

.headerCss {
  margin-bottom: 80px;
}
/* POKEDEX STYLES */

#c-body h3{
  text-align: center;
}

.mt-n1 {
  margin-top: -0.25rem !important;
}

.form-control::placeholder {
  color: white;
}

.img-navbar {
  width: 45px;
}

/* POKEMON DETAIL  STYLES*/

.section-div-1 {
  margin-top: 100px;
}

.detail-img {
  width: 400px;
}

.div-table-parent {
  width: 38.4%;
}

.table-th {
  width: 170px;
}