
<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head") %>
<body>
  <header>
    <%- include("./partials/navbar") %>
    <hr> 
  </header>
  <main>
    <code>Error!</code>
    <p><%= error %></p>
  </main>
  
</body>
</html>
