
<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head") %>
<body>
  <header>
    <%- include("./partials/navbar") %>
    <hr> 
  </header>
  <main class="mt-5">
    <div class="p-5">
      <h1 class="title display-1 text-danger">Error!!</h1>
      <p><%= error %></p>
    </div>
  </main>
  
</body>
</html>
