<!DOCTYPE html>
<html lang="en">
<%- include("partials/head.ejs") %>
<body>
    <main>
        <h2>Total pokemons: <%= data.count %></h2>
        <section class="container">
            <% for (let i = 0; i < data.results.length; i++) { %>
                <div class="card">
                    <h2><%= data.results[i].name %></h2>
                    <img src="" alt="">
                    <a href="<% data.results[i].url %>">Detail</a>
                </div>
            <% } %>    
        </section>
    </main>
</body>
</html>