<nav class="navbar bg-danger mb-5 fixed-top">
    <div class="container">
      <div class="d-flex align-items-center">
        <a href="/" class=""><img src="/images/pokeb1.png" alt="" class="img-navbar" ></a>
        <a class="navbar-brand text-light ms-1" href="/">Pokedex</a>
      </div>
      <div class="d-flex text-light">
          <form action="/searchPokemons" method="post" class="d-flex align-items-center">
            <input class="bg-light mx-auto border-danger me-2 text-dark form-control" placeholder="Pokemon name" name="searchBar" type="text">
            <button class="btn btn-outline-light ">Search</button>
          </form>
        </div>
    </div>
</nav>