<nav class="navbar bg-danger mb-50">
    <div class="container">
      <a class="navbar-brand text-light" href="/">Pokedex</a>
      <div class="d-flex justify-end text-light">
          <form action="">
            <input class="bg-danger" placeholder="type something here" type="text">
            <button class="btn btn-outline-light">Search</button>
          </form>
        </div>
    </div>
</nav>